{% extends 'base.html.twig' %}

{% block title %}Integer{% endblock %}

{% block body %}
    <h2>List of every integer between 1-100 not including multiples of 3 and 5:</h2>
    <br>
    <ul>
        {% for integer in collection %}
            <li>{{ integer }}</li>
        {% endfor %}
    </ul>
{% endblock %}