{% extends 'base.html.twig' %}

{% block title %}Integer{% endblock %}

{% block body %}
    List every integer between 1-100 included
    <ul>
        {% for integer in collection %}
            <li>{{ integer }}</li>
        {% endfor %}
    </ul>
{% endblock %}