{% extends 'base.html.twig' %}

{% block title %}Buzz{% endblock %}

{% block body %}
    <h2>List Buzz : Multiples of 3</h2>
    <br>
    <ul>
        {% for integer in collection %}
            <li>{{ integer }}</li>
        {% endfor %}
    </ul>
{% endblock %}