{% extends 'base.html.twig' %}

{% block title %}Buzz{% endblock %}

{% block body %}
    List Buzz
    <ul>
        {% for integer in collection %}
            <li>{{ integer }}</li>
        {% endfor %}
    </ul>
{% endblock %}