{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
	This is where you can choose your method
	<ul>
    	<li><a href="#">Choose a Method</a></li>
    	<li><a href="#">View List</a></li>

	</ul>
{% endblock %}
