{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
	Welcome, choose a method or view the list:
	<ul>
    	<li><a href="choose">Choose a Method</a></li>
    	<li><a href="list">View List</a></li>
	</ul>
{% endblock %}
