{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
	<h2>Welcome, choose a method or view the full list:</h2>
	<br>
	<ul>
    	<li><a class="btn btn-primary btn-lg" href="choose">Choose a Method</a></li>
    	<li><a class="btn btn-success btn-lg" href="list">View List</a></li>
	</ul>
{% endblock %}
