{% extends 'base.html.twig' %}

{% block title %}Fizz{% endblock %}

{% block body %}
    <h2>List Fizz : Multiples of 5</h2>
    <br>
    <ul>
        {% for integer in collection %}
            <li>{{ integer }}</li>
        {% endfor %}
    </ul>
{% endblock %}