{% extends 'base.html.twig' %}

{% block title %}FizzBuzz{% endblock %}

{% block body %}
    List FizzBuzz
    <ul>
        {% for integer in collection %}
            <li>{{ integer }}</li>
        {% endfor %}
    </ul>
{% endblock %}