{% extends 'base.html.twig' %}

{% block title %}FizzBuzz{% endblock %}

{% block body %}
    List FizzBuzz : Multiples of 3 and 5
    <ul>
        {% for fizzbuzz in collection %}
            <li>{{ fizzbuzz }}</li>
        {% endfor %}
    </ul>
{% endblock %}