{% extends 'base.html.twig' %}

{% block title %}FizzBuzz{% endblock %}

{% block body %}
    <h2>List FizzBuzz : Multiples of 3 and 5</h2>
    <br>
    <ul>
        {% for fizzbuzz in collection %}
            <li>{{ fizzbuzz }}</li>
        {% endfor %}
    </ul>
{% endblock %}