{% extends 'base.html.twig' %}

{% block title %}Choose a method{% endblock %}

{% block body %}
	<h2>This is where you can choose your method</h2>
	<br>
	<ul>
    	<li><a class="btn btn-primary" href="integer">Integer</a></li>
    	<li><a class="btn btn-primary" href="fizz">Fizz</a></li>
    	<li><a class="btn btn-primary" href="buzz">Buzz</a></li>
    	<li><a class="btn btn-primary" href="fizzbuzz">FizzBuzz</a></li>
	</ul>
{% endblock %}
