{% extends 'base.html.twig' %}

{% block title %}Choose a method{% endblock %}

{% block body %}
	<h2>This is where you can choose your method</h2>
	<br>
	<ul>
    	<li><a class="btn btn-primary" href="createinteger">Integer</a></li>
    	<li><a class="btn btn-primary" href="createfizz">Fizz</a></li>
    	<li><a class="btn btn-primary" href="createbuzz">Buzz</a></li>
    	<li><a class="btn btn-primary" href="createfizzbuzz">FizzBuzz</a></li>
	</ul>
{% endblock %}
