{% extends 'base.html.twig' %}

{% block title %}Choose a method{% endblock %}

{% block body %}
	This is where you can choose your method
	<ul>
    	<li><a href="#">Integer</a></li>
    	<li><a href="#">Fizz</a></li>
    	<li><a href="#">Buzz</a></li>
    	<li><a href="#">FizzBuzz</a></li>
	</ul>
{% endblock %}
