{% extends 'base.html.twig' %}

{% block title %}Choose a method{% endblock %}

{% block body %}
	This is where you can choose your method
	<ul>
    	<li><a href="integer">Integer</a></li>
    	<li><a href="fizz">Fizz</a></li>
    	<li><a href="buzz">Buzz</a></li>
    	<li><a href="fizzbuzz">FizzBuzz</a></li>
	</ul>
{% endblock %}
