{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
	This is where you can see the list of the 4 lists
	 <ul>
        {% for integer in collection %}
            <li>{{ integer }}</li>
        {% endfor %}
    </ul>
{% endblock %}
