{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
	<h2>This is where you can see the full list of the 4 lists combined: </h2>
	<br>
	 <ul>
        {% for integer in collection %}
            <li>{{ integer }}</li>
        {% endfor %}
    </ul>
{% endblock %}
